*{
	margin: 0;
	padding: 0;
	font-family: clarendon-bold;
}
.main-page{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url('./BG1.jpeg');
	background-size: cover;
	background-position: center;
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 200px;
	cursor: pointer;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;

}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;

}
.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
  height: 50vh;
}
.content h1{
	font-size: 70px;
	margin-top: 80px;
}
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}

/*-----------*/

.product-page{
  position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url('./BG2.jpeg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
  padding-bottom: 100px;
  padding-top: 50px;
}

.product-page-container{
	margin: auto;
/*	border: 5px solid #fff;*/
	border-radius: 25px;
	width: 50%;
  padding: 10px;
	position: relative;
	top: 7.5%;
	/* transform: translate(0, -50%); */
	background-color: rgba(0, 150, 136, 0.5); 
}

.product-box{
  height:500px;
  overflow-y: auto;
}

.spacer{
  height: 10px;
}

.TodoWrapper {
  /* background: #1A1A40; */
  /* margin-top: 5rem; */
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #fff;
  color: black;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #009688;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  text-align: center;
}
.defaultImage{
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

/*------------------------------*/

.testimonials-page{
  position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url('./BG4.jpeg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
  padding-top: 50px;
}

.header-text{
  text-align: center;
  color: #fff;
  font-size: 50px;
}
.header2{
  text-align: center;
  font-size: 100px;
  color: black;
}
.product-btn{
  background: #fff;
  color: black;
}
.form-container{
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-input{
  background: #fff;
  color: black;
}
.image-input{
  color: #fff;
  font-weight: bold;
}
.selected-image{
  width: 60px;
  height: 60px;
}
.sample-2{
  position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url('./BG5.jpeg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
  padding-top: 50px;
}



.product-details {
  flex: 1; /* Allow product details to take remaining space */
  display: flex;
  /* flex-direction: column; */
}

.product-name {
  /* Additional styling for the product name */
  flex: 1; /* This will make the product name take available space */
  font-weight: bold;
  /* Add other styling properties as needed */
}


.product-description {
  flex: 1;
}

/* Add styling for the separating line */
.separator {
  width: 2px;
  height: 50px;
  /* background-color: #ccc; */
  margin: 0 10px; /* Adjust the margin for the gap */
}

.footer{
  height: 50px;
  background-color: rgb(214, 210, 210);
  text-align: center;
  padding-top: 20px;
}
.login-styling{
  text-align: center;
  color: blue;
  font-size: 20px;
}
.loginPage{
  background-color: aqua;
  height: 100vh;
}
.loginInput{
  background-color: white;
  color: black;
  border-color: black;
}
.centerInput{
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.loginSubmit{
  padding: 10px 32px;
}